---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Page.astro";

import { products } from "../products";
import ProductGallery from "../../components/ProductGallery.astro";

export async function getStaticPaths() {
  return products.map((product) => {
    return {
      params: { id: product.id },
      props: { product },
    };
  });
}

const { id } = Astro.params;
const { product } = Astro.props;

interface Product {
  id: string;
  title: string;
  price: number;
  images: string[];
  brand: string;
  description: string;
}

export interface Props {
  product: Product;
}
---

<Layout title="This is a title">
  <section class="section bg-primary-10">
    <div class="container" data-type="narrow">
      <div class="grid">
        <div class="image-carousel">
          <ProductGallery product={product} />
        </div>
        <img class="product-image" src={product.images[0]} alt="" />
        <div class="social-icons"></div>
      </div>
    </div>
  </section>
  <section class="section bg-accent-10">
    <div class="container" data-type="narrow">
      <div class="flex-group">
        <div class="info-main flow">
          <div>
            <h1 class="subtitle-1">{product.title}</h1>
            <p class="subtitle-3 fw-bold">€{product.price}</p>
            <p class="subtitle-3">{product.brand}</p>
          </div>
          <p class="description">
            {product.description}
          </p>
        </div>
        <div class="specifications">
          <table>
            <tr>
              <th>Painting:</th>
              <td>Acrylic on Canvas</td>
            </tr>
            <tr>
              <th>Size:</th>
              <td>61 W x 61 H x 3.8 D cm</td>
            </tr>
            <tr>
              <th>Created:</th>
              <td>2022</td>
            </tr>
            <tr>
              <th>Subjects:</th>
              <td>Abstract</td>
            </tr>
            <tr>
              <th>Materials:</th>
              <td>Canvas</td>
            </tr>
            <tr>
              <th>Styles:</th>
              <td>Abstract, Conceptual</td>
            </tr>
            <tr>
              <th>Mediums:</th>
              <td>Acrylic</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .grid {
    display: grid;
    grid-template-columns: 100px 1fr 40px;
    grid-template-rows: minmax(auto, 600px);
    gap: 2rem;
  }

  th {
    text-align: left;
    font-weight: 600;
    padding-right: 5px;
  }

  .specifications {
    max-width: 350px;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
  }

  .info-main {
    min-width: 65%;
    flex: 1;
  }

  @media (max-width: 800px) {
    .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 40px;
    }

    .image-carousel {
      display: none;
    }
  }

  .social-icons {
    background-color: red;
  }

  .image-carousel {
    overflow-y: scroll;
  }

  .product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
</style>
